* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f5f7;
    color: #202631;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 250px;
    height: 100vh;

    background: #202631;
    color: white;

    padding: 25px 15px;

    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 30px;
}

.logo span {
    margin-left: 8px;
}


/* MENU */

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar nav a {
    color: white;
    text-decoration: none;

    padding: 14px 15px;

    border-radius: 8px;

    font-size: 15px;
}

.sidebar nav a:hover {
    background: #333b49;
}

.sidebar nav a.active {
    background: #f59a23;
    color: #111;
    font-weight: bold;
}


/* USER */

.user {
    margin-top: auto;

    background: #333b49;

    padding: 14px;

    border-radius: 8px;

    text-align: center;
}


/* KONTEN */

.content {
    margin-left: 250px;
    min-height: 100vh;
}


/* HEADER */

.topbar {
    background: white;

    padding: 30px 40px;

    border-bottom: 1px solid #ddd;
}

.topbar h1 {
    margin: 0;
    font-size: 28px;
}

.topbar p {
    margin-top: 8px;
    color: #777;
}


/* DASHBOARD */

.dashboard {
    padding: 35px 40px;
}

.dashboard > h2 {
    margin-bottom: 25px;
}


/* CARD */

.cards {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.card {
    background: white;

    padding: 22px;

    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.08);

    display: flex;

    align-items: center;

    gap: 15px;
}

.card .icon {
    font-size: 35px;
}

.card h3 {
    margin: 0 0 5px 0;
}

.card p {
    margin: 0;
    color: #777;
}


/* WELCOME */

.welcome {
    background: white;

    margin-top: 30px;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.welcome h2 {
    margin-top: 0;
}

.welcome p {
    color: #666;
    line-height: 1.6;
}


/* TAMPILAN TABLET */

@media (max-width: 900px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* TAMPILAN HP */

@media (max-width: 600px) {

    .sidebar {
        width: 70px;
        padding: 15px 8px;
    }

    .logo span {
        display: none;
    }

    .sidebar nav a {
        font-size: 0;
        text-align: center;
    }

    .user {
        font-size: 0;
    }

    .content {
        margin-left: 70px;
    }

    .topbar,
    .dashboard {
        padding: 20px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo span {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.logo small {
    display: block;
    font-size: 11px;
    color: #bbb;
    margin-top: 3px;
}
